$menu-bg-color: #292936;
$menu-color: #fff;
$menu-font-size: 18px;
$hor-menu-splitter-color: #444459;
$order-detail-box-color: #B5B5D0;
$order-submit-btn-color: #6C6C82;
$logo-color: #65C62A;
$gray: #333;
$light-gray: #666;
$extra-light-gray: lighten($light-gray, 50%);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: calibri;
  background: #fcfcfc;
}
.container {
  margin: 0 10%;
}
.hover {
  &:hover {
    box-shadow: inset 0px -2px 0px 0px $logo-color;
    color: $logo-color;
    transition: all 0.15s ease-out;
    .fa {
      color: $logo-color;
      transition: all 0.15s ease-out;
    }
  }
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.brand-logo {
  height: 40px;
}
.contact {
  &__email, &__phone {
    display: block;
    text-align: right;
  }
}
nav, footer {
  background: $menu-bg-color;
}
.horizontal-menu {
  font-size: $menu-font-size;
  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    color: $menu-color;
    text-transform: capitalize;
  }
  &__list-item {
    cursor: pointer;
  }
}
.search, .cart {
  position: relative;
  width: 17.5%;
  padding: 10px;
  border-left: 1px solid $hor-menu-splitter-color;
  font-size: $menu-font-size;
  text-align: center;
  text-transform: capitalize;
}
.search {
  input {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    border: 0;
    padding-left: 19px;
    border-radius: 4px;
  }
}
.cart {
  color: $menu-color;
  @extend .hover;
}
.top-menu {
  color: $menu-color;
  .container {
    display: flex;
  }
  .horizontal-menu {
    width: 65%;
    &__list-item {
      width: 20%;
      padding: 10px;
      border-left: 1px solid $hor-menu-splitter-color;
      @extend .hover;
    }
  }
  &__mobile-toggle {
    display: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
}
.breadcrumbs {
  display: flex;
  padding: 15px 0 0;
  list-style: none;
  color: $light-gray;
  text-transform: capitalize;
  &__list-item {
    &::after {
      content: '>';
      padding: 0 5px;
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
.content {
  display: flex;
  padding: 35px 0 0;
}
main {
  width: 50%;
  padding: 0 20px 0 0;
}
aside {
  width: 25%;
  padding: 0 20px 0 0;
}

.vertical-menu {
  border: 1px solid $extra-light-gray;
  border-bottom: 0;
  list-style: none;
  text-transform: capitalize;
  color: $light-gray;
  &__title {
    padding: 10px 20px;
    border-bottom: 1px solid $extra-light-gray;
    line-height: 1;
  }
  &__title {
    font-size: 18px;
  }
  &__list-item {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0);
    ul {
      display: none;
      list-style: none;
      padding: 5px 10px 0;
    }
    &.show-sub-item {
      border-bottom: 1px solid $extra-light-gray;
      .vertical-menu {
        &__item-name {
          border-bottom: 1px solid rgba(0,0,0,0);
          &::after {
            content: '\f0d8';
          }
        }
      }
      ul {
        display: block;
      }
    }
  }
  &__sub-item {
    padding: 0 20px 5px;
    color: $light-gray;
    &:hover {
      color: $logo-color;
      transition: all 0.15s ease-out;
    }
  }
  &__item-name {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid $extra-light-gray;
    line-height: 1;
    &::after {
      position: absolute;
      top: 10px;
      right: 10px;
      font-family: FontAwesome;
      content: '\f0d7';
    }
    &:hover {
      box-shadow: inset 0px -2px 0px 0px $logo-color;
      color: $logo-color;
      transition: all 0.15s ease-out;
    }
  }
}
.product {
  &__title {
    padding: 0 0 25px;
    text-transform: capitalize;
    font-size: 34px;
    line-height: 1;
    &-footer {
      padding: 25px 0 0;
      text-transform: capitalize;
    }
  }
  &__desc {
    padding: 10px 0;
    line-height: 1.5;
    &-expander {
      float: right;
      color: $logo-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__image {
    background-size: cover;
    padding: 50%;
    &-wrapper {
      width: 32%;
    }
    &-main {
      background-size: cover;
      padding: 50%;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 0;
  }
}
.order {
  margin: 59px 0 0;
  padding: 15px;
  background: $order-detail-box-color;
  list-style: none;
  border-radius: 4px;
  li {
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px;
  }
  &__price {
    &-value {
      font-size: 24px;
      font-weight: bold;
    }
  }
  &__quantity {
    &-input {
      width: 50%;
      margin: 0 0 0 10px;
    }
  }
  &-submit {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px 0;
    background: $order-submit-btn-color;
    color: $menu-color;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      color: $logo-color;
      transition: all 0.15s ease-out;
    }
  }
}
footer {
  margin: 35px 0 0;
  padding: 25px 0 25px;
  .horizontal-menu {
    &__list-item {
      width: 10%;
      border-right: 2px solid $menu-color;
      &:last-child{
        position: relative;
        border-right: 0;
      }
    }
  }
}
.copyright {
  font-size: 13px;
  padding: 5px;
  text-align: center;
  color: $light-gray;
}
.hide {
  display: none !important;
}
.fa-search {
  position: absolute;
  top: 16px;
  left: 14px;
  color: $light-gray;
  font-size: 12px;
}
.fa-shopping-cart {
  display: inline-block;
  padding: 0 0 0 8px;
  color: $menu-color;
  font-size: 18px;
}
.fa-caret-down {
  display: inline-block;
  padding: 0 0 0 8px;
  color: $menu-color;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
  .container {
    margin: 0 3%;
  }
  .breadcrumbs {
    display: none;
  }
  .content {
    flex-wrap: wrap;
  }
  aside, main {
    width: 100%;
    margin: 0 0 35px;
    padding: 0;
  }
  main {
    order: 1;
  }
  aside {
    &:nth-child(1) {
      order: 3;
      margin: 0;
    }
    order: 2;
  }
  .top-menu {
    .container {
      justify-content: space-between;
    }
    .horizontal-menu {
      width: 10%;
      &__list {
        display: none;
      }
      &.show-mobile-menu {
        .horizontal-menu {
          &__list {
            background: $menu-bg-color;
            left: 0;
            position: absolute;
            display: block;
            width: 100%;
            text-align: center;
          }
          &__list-item {
            width: 100%;
          }
        }
      }
    }
    &__mobile-toggle {
      display: block;
    }
  }
  .search {
    width: 60%;
  }
  .cart {
    width: 30%;
  }
  .order {
    margin: 0;
  }
  footer {
    .horizontal-menu {
      &__list-item {
        width: 16.666666666%;
        border-right: 2px solid $menu-color;
      }
    }
  }
}
