* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: calibri;
  background: #fcfcfc; }

.container {
  margin: 0 10%; }

.hover:hover, .cart:hover, .top-menu .horizontal-menu__list-item:hover {
  box-shadow: inset 0px -2px 0px 0px #65C62A;
  color: #65C62A;
  transition: all 0.15s ease-out; }
  .hover:hover .fa, .cart:hover .fa, .top-menu .horizontal-menu__list-item:hover .fa {
    color: #65C62A;
    transition: all 0.15s ease-out; }

a {
  text-decoration: none;
  color: inherit; }

header {
  padding: 10px;
  display: flex;
  justify-content: space-between; }

.brand-logo {
  height: 40px; }

.contact__email, .contact__phone {
  display: block;
  text-align: right; }

nav, footer {
  background: #292936; }

.horizontal-menu {
  font-size: 18px; }
  .horizontal-menu__list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    color: #fff;
    text-transform: capitalize; }
  .horizontal-menu__list-item {
    cursor: pointer; }

.search, .cart {
  position: relative;
  width: 17.5%;
  padding: 10px;
  border-left: 1px solid #444459;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize; }

.search input {
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  border: 0;
  padding-left: 19px;
  border-radius: 4px; }

.cart {
  color: #fff; }

.top-menu {
  color: #fff; }
  .top-menu .container {
    display: flex; }
  .top-menu .horizontal-menu {
    width: 65%; }
    .top-menu .horizontal-menu__list-item {
      width: 20%;
      padding: 10px;
      border-left: 1px solid #444459; }
  .top-menu__mobile-toggle {
    display: none;
    padding: 10px;
    text-align: center;
    cursor: pointer; }

.breadcrumbs {
  display: flex;
  padding: 15px 0 0;
  list-style: none;
  color: #666;
  text-transform: capitalize; }
  .breadcrumbs__list-item::after {
    content: '>';
    padding: 0 5px; }
  .breadcrumbs__list-item:last-child::after {
    content: ''; }

.content {
  display: flex;
  padding: 35px 0 0; }

main {
  width: 50%;
  padding: 0 20px 0 0; }

aside {
  width: 25%;
  padding: 0 20px 0 0; }

.vertical-menu {
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  list-style: none;
  text-transform: capitalize;
  color: #666; }
  .vertical-menu__title {
    padding: 10px 20px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 1; }
  .vertical-menu__title {
    font-size: 18px; }
  .vertical-menu__list-item {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid transparent; }
    .vertical-menu__list-item ul {
      display: none;
      list-style: none;
      padding: 5px 10px 0; }
    .vertical-menu__list-item.show-sub-item {
      border-bottom: 1px solid #e6e6e6; }
      .vertical-menu__list-item.show-sub-item .vertical-menu__item-name {
        border-bottom: 1px solid transparent; }
        .vertical-menu__list-item.show-sub-item .vertical-menu__item-name::after {
          content: '\f0d8'; }
      .vertical-menu__list-item.show-sub-item ul {
        display: block; }
  .vertical-menu__sub-item {
    padding: 0 20px 5px;
    color: #666; }
    .vertical-menu__sub-item:hover {
      color: #65C62A;
      transition: all 0.15s ease-out; }
  .vertical-menu__item-name {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 1; }
    .vertical-menu__item-name::after {
      position: absolute;
      top: 10px;
      right: 10px;
      font-family: FontAwesome;
      content: '\f0d7'; }
    .vertical-menu__item-name:hover {
      box-shadow: inset 0px -2px 0px 0px #65C62A;
      color: #65C62A;
      transition: all 0.15s ease-out; }

.product__title {
  padding: 0 0 25px;
  text-transform: capitalize;
  font-size: 34px;
  line-height: 1; }
  .product__title-footer {
    padding: 25px 0 0;
    text-transform: capitalize; }

.product__desc {
  padding: 10px 0;
  line-height: 1.5; }
  .product__desc-expander {
    float: right;
    color: #65C62A;
    text-decoration: underline;
    cursor: pointer; }

.product__image {
  background-size: cover;
  padding: 50%; }
  .product__image-wrapper {
    width: 32%; }
  .product__image-main {
    background-size: cover;
    padding: 50%; }

.product__footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 0; }

.order {
  margin: 59px 0 0;
  padding: 15px;
  background: #B5B5D0;
  list-style: none;
  border-radius: 4px; }
  .order li {
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px; }
  .order__price-value {
    font-size: 24px;
    font-weight: bold; }
  .order__quantity-input {
    width: 50%;
    margin: 0 0 0 10px; }
  .order-submit {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px 0;
    background: #6C6C82;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer; }
    .order-submit:hover {
      color: #65C62A;
      transition: all 0.15s ease-out; }

footer {
  margin: 35px 0 0;
  padding: 25px 0 25px; }
  footer .horizontal-menu__list-item {
    width: 10%;
    border-right: 2px solid #fff; }
    footer .horizontal-menu__list-item:last-child {
      position: relative;
      border-right: 0; }

.copyright {
  font-size: 13px;
  padding: 5px;
  text-align: center;
  color: #666; }

.hide {
  display: none !important; }

.fa-search {
  position: absolute;
  top: 16px;
  left: 14px;
  color: #666;
  font-size: 12px; }

.fa-shopping-cart {
  display: inline-block;
  padding: 0 0 0 8px;
  color: #fff;
  font-size: 18px; }

.fa-caret-down {
  display: inline-block;
  padding: 0 0 0 8px;
  color: #fff;
  font-size: 16px; }

@media screen and (max-width: 768px) {
  header {
    display: none; }
  .container {
    margin: 0 3%; }
  .breadcrumbs {
    display: none; }
  .content {
    flex-wrap: wrap; }
  aside, main {
    width: 100%;
    margin: 0 0 35px;
    padding: 0; }
  main {
    order: 1; }
  aside {
    order: 2; }
    aside:nth-child(1) {
      order: 3;
      margin: 0; }
  .top-menu .container {
    justify-content: space-between; }
  .top-menu .horizontal-menu {
    width: 10%; }
    .top-menu .horizontal-menu__list {
      display: none; }
    .top-menu .horizontal-menu.show-mobile-menu .horizontal-menu__list {
      background: #292936;
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      text-align: center; }
    .top-menu .horizontal-menu.show-mobile-menu .horizontal-menu__list-item {
      width: 100%; }
  .top-menu__mobile-toggle {
    display: block; }
  .search {
    width: 60%; }
  .cart {
    width: 30%; }
  .order {
    margin: 0; }
  footer .horizontal-menu__list-item {
    width: 16.666666666%;
    border-right: 2px solid #fff; } }
